Repository BoweryJG/repconnect: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js, npm run test:changed --

Fix CI/CD pipeline issues
  .eslintrc.json
  scripts/check-secrets.js
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

Temporarily disable lint and coverage checks in CI
  .github/workflows/test.yml
Due: none

Fix npm install issues in CI workflow
  .github/workflows/test.yml
  .nvmrc
Due: none

Simplify test workflow to fix CI failures
  .github/workflows/test.yml
Due: none

Fix GitHub Actions workflows with proper configuration
  .github/workflows/ci.yml
  .github/workflows/debug.yml
  .github/workflows/test.yml
Due: none

Disable automatic triggers for failing workflows
  .github/workflows/cd.yml
  .github/workflows/codeql.yml
  .github/workflows/performance.yml
Due: none

Fix Netlify build errors
  .nvmrc
  src/components/auth/LoginModal.tsx
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

Disable automatic status badge updates
  .github/workflows/status-badges.yml
Due: none

DISABLE ALL GITHUB WORKFLOWS - STOP THE EMAILS
  .github/workflows-disabled/cd.yml
  .github/workflows-disabled/ci.yml
  .github/workflows-disabled/codeql.yml
  .github/workflows-disabled/database.yml
  .github/workflows-disabled/debug.yml
  .github/workflows-disabled/dependency-update.yml
  .github/workflows-disabled/performance.yml
  .github/workflows-disabled/release.yml
  .github/workflows-disabled/status-badges.yml
  .github/workflows-disabled/test.yml
  .github/workflows/placeholder.yml
Due: none

FINALLY GET THE FUCKING BUILD TO WORK
  package-lock.json
  package.json
  src/App.tsx
  src/components/MissionControlDashboardOptimized.tsx
  src/components/lazy/LazyThreeComponents.tsx
  src/config/sentryFrontend.ts
  src/services/alertingService.ts
  src/utils/bundlePerformance.ts
  src/utils/monitoringSetup.ts
  src/utils/performanceMonitor.ts
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

Fix another TypeScript union type error in Netlify build
  src/components/lazy/LazyHarveyComponents.tsx
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

Fix MORE TypeScript union type errors - Box components
  src/components/monitoring/HealthStatusIndicator.tsx
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

REMOVE ALL FUCKING ANIMATIONS FROM LOGIN
  src/components/auth/LoginModal.tsx
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

fix: Remove all CSS animations from LoginModal to prevent glitching
  src/components/auth/LoginModal.css
Due: prettier --write

Fix build errors and optimize bundle size
  .nvmrc
  config-overrides.js
  package-lock.json
  package.json
  src/App.tsx
  src/auth/AuthContext.tsx
  src/components/HarveyActiveCallInterface.tsx
  src/components/LeadEnrichmentLanding.tsx
  src/components/LoadingFallback.tsx
  src/components/auth/LoginModal.css
  src/components/auth/LoginModal.tsx
  src/components/monitoring/HealthStatusIndicator.tsx
  src/config/webpack.optimization.js
  src/services/twilioService.ts
  src/store/useStore.ts
  src/utils/dynamicImports.ts
  src/utils/lazyWithPreload.ts
  src/utils/logger.ts
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

Connect agents to real backend services
  src/api/harveyRoutes.js
  src/components/ChatbotLauncher/ChatModal.tsx
  src/components/ChatbotLauncher/VoiceModal.tsx
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

Fix Prettier formatting for Netlify build
  src/api/harveyRoutes.js
  src/components/ChatbotLauncher/ChatModal.tsx
  src/components/ChatbotLauncher/README.md
  src/components/ChatbotLauncher/VoiceModal.tsx
  src/components/ChatbotLauncher/styles/AgentCard.css
  src/components/ChatbotLauncher/styles/luxury.module.css
  src/components/auth/SubscriptionModal.css
  src/hooks/useCallHistory-implementation-notes.md
  src/index.css
  src/styles/screws.css
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

Fix TypeScript union type error in ChatModal
  src/components/ChatbotLauncher/ChatModal.tsx
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

Replace MUI Box with div to fix TypeScript build error
  src/components/ChatbotLauncher/ChatModal.tsx
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

fix: Connect agents to real backend services for voice and chat
  server.js
  src/components/ChatbotLauncher/VoiceModal.tsx
  src/services/deepgramBridge.ts
  src/services/elevenLabsTTS.ts
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

fix: Add missing openai dependency for Harvey chat functionality
  package-lock.json
  package.json
Due: prettier --write, node ./scripts/check-secrets.js

feat: Implement WebRTC voice modal for real-time communication
  package-lock.json
  package.json
  src/components/ChatbotLauncher/ChatbotIntegration.tsx
  src/components/ChatbotLauncher/VoiceModal.tsx
  src/components/ChatbotLauncher/VoiceModalWebRTC.tsx
  src/services/webRTCClient.ts
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

Fix Prettier/ESLint formatting issues for WebRTC files
  src/components/ChatbotLauncher/VoiceModalWebRTC.tsx
  src/services/webRTCClient.ts
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

Rename old VoiceModal.tsx to prevent compilation errors
  src/components/ChatbotLauncher/VoiceModal.old.tsx
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

Move old VoiceModal file out of src directory to fix build
  backup/VoiceModal.old.tsx
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

Fix mediasoup-client TypeScript imports
  src/services/webRTCClient.ts
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

feat: Add Harvey-style sales agents to repconnect1 frontend
  src/components/ChatbotLauncher/AgentCarousel.tsx
  src/components/ChatbotLauncher/ChatbotIntegration.tsx
  src/components/ChatbotLauncher/HarveyAgentShowcase.tsx
  src/components/ChatbotLauncher/agents/agentConfigs.ts
  src/components/ChatbotLauncher/agents/harveyStyleAgents.ts
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

fix: Clean up TypeScript types and remove any cast
  src/components/ChatbotLauncher/ChatbotIntegration.tsx
  src/components/ChatbotLauncher/types.ts
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

fix: Include all required properties in HarveyAgentShowcase agents
  src/components/ChatbotLauncher/HarveyAgentShowcase.tsx
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

fix: Simplify Material-UI sx props to resolve complex union type error
  src/components/ChatbotLauncher/HarveyAgentShowcase.tsx
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

fix: Resolve TS2590 union type error in ChatbotLauncher
  src/components/ChatbotLauncher/ChatbotLauncher.tsx
  src/components/ChatbotLauncher/HarveyAgentShowcase.tsx
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

fix: Update Sentry imports for compatibility with latest version
  src/config/sentry.js
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

feat: Add voice-agents WebSocket namespace for bidirectional voice
  server.js
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

Revert "feat: Add voice-agents WebSocket namespace for bidirectional voice"
  server.js
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

Integrate with centralized agentbackend API
  AGENTBACKEND_MIGRATION.md
  server.js
  src/components/ChatbotLauncher/ChatModal.tsx
  src/components/ChatbotLauncher/ChatbotIntegration.tsx
  src/components/ChatbotLauncher/agents/agentConfigs.ts
  src/components/ChatbotLauncher/agents/remoteAgentLoader.ts
  src/services/agentBackendAPI.js
  src/services/agentChatAPI.js
  src/services/serverAgentLoader.js
  update-backend-url.sh
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

Fix: Disable ESLint errors in production build for Netlify deployment
  netlify.toml
  src/components/ChatbotLauncher/ChatModal.tsx
  src/components/ChatbotLauncher/ChatbotIntegration.tsx
  src/components/ChatbotLauncher/agents/agentConfigs.ts
  src/components/ChatbotLauncher/agents/remoteAgentLoader.ts
  src/services/agentBackendAPI.js
  src/services/agentChatAPI.js
  src/services/serverAgentLoader.js
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

Fix: Resolve TypeScript error in fetchAgents call
  src/components/ChatbotLauncher/agents/remoteAgentLoader.ts
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

Fix: Use type assertion to resolve TypeScript fetchAgents error
  src/components/ChatbotLauncher/agents/remoteAgentLoader.ts
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

Fix: Add TypeScript ignores for problematic imports
  src/components/ChatbotLauncher/ChatModal.tsx
  src/components/ElevenLabsTTSDemo.tsx
  src/services/elevenLabsTTS.ts
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

Fix: Comprehensive TypeScript error resolution
  src/components/ElevenLabsTTSDemo.tsx
  src/services/elevenLabsTTS.ts
Due: eslint --fix --max-warnings 0, prettier --write, node ./scripts/check-secrets.js

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss,md,html})
  node ./scripts/check-secrets.js: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  npm run test:changed --: (any of: *.test.{js,jsx,ts,tsx}) or (any of: *.spec.{js,jsx,ts,tsx})
